---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import PostComments from "@components/Comments.astro";
import Datetime from "@components/Datetime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import Navigation from "@components/Navigation.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  tags,
  readTime,
} = post.data;

const { Content } = await post.render();

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage;
const ogUrl = new URL(
  ogImageUrl ?? `/posts/${slugifyStr(title)}.png`,
  Astro.url.origin
).href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
>
  <div class="progress"></div>

  <Navigation activeNav="blog" />

  <div class="container-narrow">
    <main>
      <div class="flex justify-start">
        <button
          class="focus-outline mb-2 mt-8 flex hover:opacity-75"
          onclick="history.back()"
        >
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
            ></path>
          </svg><span>Go back</span>
        </button>
      </div>
      <div class="max-w-2xl">
        <h1 transition:name={slugifyStr(title)} class="post-title mt-4">
          {title}
        </h1>
      </div>
      <Datetime
        datetime={pubDatetime}
        size="lg"
        className="my-2"
        readTime={readTime}
      />

      <article
        id="article"
        role="article"
        class="prose mx-auto mt-8 max-w-[100%]"
      >
        <Content />
      </article>

      <ul class="tags-container">
        {tags.map(tag => <Tag name={slugifyStr(tag)} />)}
      </ul>
    </main>
    <PostComments />
  </div>
  <div class="mx-4 sm:mx-20">
    <div class="container">
      <Footer />
    </div>
  </div>
</Layout>

<style>
  main {
    @apply mx-auto w-full px-4 pb-12;
  }
  .post-title {
    @apply text-3xl font-semibold text-skin-accent;
  }
  .tags-container {
    @apply my-8;
  }

  .progress {
    height: 0.2rem;
    background: #35a3ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: 0 50%;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
  }

  @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
</style>
