---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";
import Navigation from "@components/Navigation.astro";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Posts | ${SITE.title}`}>
  <Navigation activeNav="blog" />
  <div class="container">
    <Main pageTitle="Posts" pageDesc="All the articles I've posted.">
      <div class="relative">
        <div
          class="relative mx-auto grid max-w-7xl grid-cols-4 gap-x-4 gap-y-16 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6"
        >
          {
            posts.map(({ data }) => (
              <div class="col-span-4">
                <div class="relative w-full">
                  <a
                    href={`/blog/${slugify(data)}`}
                    class="hover:scale-103 group peer relative block w-full transition duration-500 ease-in-out hover:-translate-y-2 focus:outline-none"
                  >
                    <div class="aspect-[3/4] rounded-lg">
                      <img
                        title="Get a catch block error message with TypeScript"
                        alt="brown and white cat in shallow focus shot"
                        src={data.ogImage}
                        srcset={data.ogImage}
                        crossorigin="anonymous"
                        class="focus-ring  w-full rounded-lg object-cover object-center transition 
                        "
                      />
                    </div>
                    <div class="mt-8 text-xl font-medium text-slate-500">
                      {data.pubDatetime} — {data.readTime} min read
                    </div>
                    <div class="mt-4 text-2xl font-medium text-black dark:text-white md:text-3xl">
                      {data.title}
                    </div>
                  </a>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </Main>
  </div>

  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prev}-svg`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/posts/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class={`${next}-svg`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
</Layout>
<div class="mx-4 sm:mx-20">
  <div class="container">
    <Footer noMarginTop={totalPages > 1} />
  </div>
</div>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
